img {


    width: 100%;
}


/*SPLASH*/

body {}

.site_content_wrapper{

    margin: 0px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr minmax(50px, 1200px) 1fr;
    grid-template-rows: 1fr;
}

.site_content_container{
    border: 5px solid rgba(0, 0, 0, 0.01);
    width: 100%;
    max-width: 1200px;
    grid-column: 2/3;
}

.index_splash_wrapper {

    background-color: black;
    background-image: url(../ASSETS/splash_2.png);
    background-repeat: cover;
    background-attachment: fixed;
    background-size: 200%;
    background-position: 100%;

    width: 100%;
    height: 400px;
}

.index_splash_con {

    padding: 50px;
    width: 100%;
    height: 100%;
    font-family: europa, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;


display: flex;

flex-direction: column;


}

.splash_ur{
    align-self: center;
    grid-area: b;
    background-image: url(../ASSETS/ure2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    width: 200px;
    height: 200px;

}
.index_splash_text {
    align-self: center;


    letter-spacing: 3px;
    font-size: 1.2em;
    text-align: center;
        font-weight: 400;

    margin:5px

}

.splash_cta_con {
    align-self: center;




    width: 200px;
    height: 50px;


}

.splash_cta {
    width: 100%;
    height: 100%;
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 1em;
    padding: 5px;
    letter-spacing: 0.5px;

    border: 3px solid white;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;

}
.splash_cta:hover {
    opacity: 0.7;
}

/*Kollektioner*/

.index_kollekioner_wrapper {

    background-color: rgba(128, 128, 128, 0.12);

    padding: 10px;
}

.kol_head {

    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 2em;
    padding: 20px;
    margin: 0;
}

.index_kollekioner_con {

    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;
}


.index_kollekioner_con a {

    text-decoration: none;
    color: black;

}

.index_kollekioner_con a:hover {

    text-decoration: underline;

}


.kol_con {

    margin: 25px;

}
.kol_con:hover {
    opacity: 0.8;
}



/*PROMOTION SLIDER */

.promotion_product_container {}

.mySlides:hover {

border: solid 1px rgba(128, 128, 128, 0.17);
cursor: pointer;


}


.prom_prod_con {

    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .7fr;
    padding: 10px;

}

.prom_image_con,
.prom_text_con {

    margin: 0px 0px -50px 0px;

}

.prom_image_con {}

.prom_text_con {

    justify-content: center;
    font-family: europa, sans-serif;
    font-weight: 100;
    font-style: normal;

    color: var(--main-tekst_graa-color);

    text-align: center;

}

.prom_prod_title {

    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.5em;
    letter-spacing: 1px;

}

.prom_name {

    margin: 5px;
}

.prom_spec {
    margin: 5px;
    font-size: .8em;

}

.prom_prod_pris {

    font-weight: 799;
    margin-top: 10px;
}

.demo {

    display: none;

    width: 100%;
    border: solid grey 1px;
    background-color: transparent;
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    padding: 5px;
}

.prom_prod_cta {

    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    padding: 10px 70px;
    border: none;
    margin: 15px;
    background-color: var(--main-sand-color);
    border-radius: 5px;
    cursor: pointer;
}

/*sLIDE KNAPPER */


.w3-center {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}

.w3-section {

    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.next_1,
.next_2 {
    background-color: transparent;
    width: 100%;
    color: var(--main-tekst_graa-color);
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    font-size: 1em;

    border: none;

}



.demo_con {

    display: flex;
    justify-content: space-between;

}

/*LIFESTYLE*/


.index_lifestyle_con {

    color: var(--main-tekst_graa-color);
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:

        "i"
        "t"



}

.ind_life_img {

    grid-area: i;

    background-color: black;
    background-image: url(../ASSETS/ur1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 100% 100%;

    width: 100%;


}

.ind_life_txt_con {

    grid-area: t;

    padding: 25px;
    background-color: rgba(128, 128, 128, 0.23);
}

.ind_life_head {

    text-transform: uppercase;
    font-size: 1.5em;
}

.ind_life_text {
    font-size: 1.2em;

}

.ind_life_cta {

    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    padding: 10px 50px;
    background-color: var(--main-sand-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.ind_life_cta:hover {
    opacity: 0.8;
}

/*VIDEO*/

.index_video_wrapper {

    padding: 50px 0px; ;
    background-color: var(--main-kobber_red-color);
    display: grid;
    grid-template-columns: 1fr minmax(20px, 800px) 1fr;

    grid-template-areas: ". s ."
}

.index_video_con {
    grid-area: s;
    width: 100%;

    font-family: europa, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    padding: 25px;
    color: antiquewhite;



}

.ind_vid_text_con {}

.ind_vid_head {

font-size: 1.6em;

}

.ind_vid_text {
    font-family: droid-serif, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}

.ind_vid_ifram_con {

/*SKAL VI BEHOLDE DET?*/
/*
    box-shadow: 20px 25px 0px rgba(0, 0, 0, 0.22);
    outline: 1px solid black;
*/

}

.ind_vid_ifram_con iframe {
    width: 100%;

}


/*DESIGN TIL PRODUKT*/


.index_design_con {

    color: var(--main-tekst_graa-color);
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:

        "i"
        "t"



}

.ind_design_img {

    grid-area: i;

    background-color: black;
    background-image: url(../ASSETS/ur3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 100% 110%;

    width: 100%;


}

.ind_design_txt_con {

    grid-area: t;

    padding: 25px;
    background-color: rgba(128, 128, 128, 0.23);
}

.ind_design_head {

    text-transform: uppercase;
    font-size: 1.5em;
}

.ind_design_text {
    font-size: 1.2em;

}

.ind_design_cta {

    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    padding: 10px 50px;
    background-color: var(--main-sand-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.ind_design_cta:hover {
    opacity: 0.8;
}

/*FEATURED */

.featured_wrapper{

        display: grid;
    grid-template-columns: 1fr minmax(20px, 400px) 1fr;

    grid-template-areas: ". s ."
}

.featured_con{
    grid-area: s;

    width: 100%;
    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding: 25px;
    color: var(--main-tekst_graa-color);

}

.feat_head{

    text-transform: uppercase;
    font-size: 1.5em;
}

.feat_euman_logo{

    margin: 25px 0px;
    padding: 25px;
}

.feat_cta{


    font-family: europa, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1em;
    padding: 10px 50px;
    background-color: var(--main-sand-color);
    border-radius: 5px;
}

/*FEATURED END */


/*MEDIA Q*/


@media screen and (min-width: 400px){

    .index_kollekioner_con{

            grid-template-columns: 1fr 1fr;

        font-size: 5vw;
    }

    .kol_head{

        margin:50px;
        font-size: 8vw;


    }

}

    @media screen and (min-width: 600px){


/*    kollektioner    */
      .index_kollekioner_con{

            grid-template-columns: 1fr 1fr 1fr 1fr;

        font-size: 2vw;
    }

.ind_life_img {

    grid-area: i;

    background-color: black;
    background-image: url(../ASSETS/ur1.jpg);
    background-repeat: cover;
    background-attachment: local;
    background-size: 50%;
    background-position: 50%;

    width: 100%;


}

.ind_design_img {

    grid-area: i;

    background-color: black;
    background-image: url(../ASSETS/ur3.jpg);
    background-repeat: cover;
    background-attachment: local;
    background-size: 100%;
    background-position: 50%;


    width: 100%;


}

/*        slide*/
        .w3-content{

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            width: 100%;
            height: 400px;
            padding: 10px;
            overflow: scroll;
        }

        .w3-center{

            display: none;
        }



/*lifestyle        */


.index_lifestyle_con {



    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:

        "i t"

}

.ind_life_img {

    grid-area: i;



    width: 100%;


}

.ind_life_txt_con {

    grid-area: t;
   padding: 100px 10px;
}

        /*DESIGN TIL PRODUKT*/


.index_design_con {



    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:

        "t i"



}

.ind_design_img {

    grid-area: i;





}

.ind_design_txt_con {

    grid-area: t;

    padding: 100px 10px;
;

}



    @media screen and (min-width: 800px){

    .index_kollekioner_con{

            grid-template-columns: 1fr 1fr 1fr 1fr;

        font-size: 1.7em;
    }

    .kol_head{

        margin:50px;
        font-size: 5em;


    }




}


    @media screen and (min-width: 1000px){

     .w3-content{

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            width: 100%;
            height: 400px;
            padding: 10px;
            overflow: hidden;
        }





}
