img {


    width: 100%;
}


/*SPLASH*/

body {}

.site_content_wrapper{

    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(50px, 1200px) 1fr;
    grid-template-rows: 1fr;
}

.site_content_container{
    border: 5px solid rgba(0, 0, 0, 0.01);
    width: 100%;
    max-width: 1200px;
    grid-column: 2/3;
}


.lifestyle_splash_wrapper {

    background-color: black;
    background-image: url(../ASSETS/splash_2.png);
    background-repeat: cover;
    background-attachment: fixed;
    background-size: 200%;
    background-position: 100%;

    width: 100%;
    height: 400px;
    margin-bottom: 2em;
}

.lifestyle_splash_con {

    padding: 50px;
    width: 100%;
    height: 100%;


justify-content: center;

display: flex;

flex-direction: column;


}
.lifestyle_splash_text {
    align-self: center;
    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    letter-spacing: .14em;

    font-size: 2em;
    text-align: center;

    margin:5px

}

/*EFTER SPLASH*/

/*INSTAGRAM TOP*/

#instagram_titel_cta {

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

#instagram_titel_cta h1 {
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-size: 2em;
    color: #30403e;
}
#instagram_titel_cta p {
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    width: 300px;

    font-family: droid-serif, serif;
    font-weight: 700;
    font-style: italic;
}
#instagram_titel_cta .instagram_knap {
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
    align-self: center;

}
.instagram_knap a {
background-color: #c0bba0;
    padding: 25px 70px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: bebas-neue, sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.14em;
    font-size: 1em;
    color: black;
    text-decoration: none;

}
.instagram_knap a:hover {
    opacity: 0.8;
}

/*INSTAGRAM TOP SLUT*/

/*INSTAGRAM FEED*/
.citat_con {
    background-color: #90c0bb;
    padding: 2em;
    display: flex;
    justify-content: center;
}
.citat_con p {
    width: 800px;
    text-align: center;
        font-family: droid-serif, serif;
    font-weight: 400;
    font-style: italic;

}


/*INSTAGRAM FEEED*/

.insta_feed_con{
    margin: 10px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}



.feed_img_con{
    box-sizing: border-box;
    opacity: .8;

}

.feed_img_con:hover {
    opacity: 1;
   cursor: pointer;

}


.feed_img{

    display: block;
    width: 100%;
    height: 100%;
}

.feed_img_con:nth-child(even){
    grid-column: span 2;
    grid-row: span 2;
}

.feed_img_con:nth-child(odd){
    grid-column: span 1;
    grid-row: span 1;
}

.feed_img_con:nth-child(3n+3){
    grid-column: span 1;
    grid-row: span 1;
}

@media screen and (min-width: 600px) {
    #instagram_titel_cta p {
        width: 500px;
    }

}

.instafeed_con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "box1 box2 box6 box6"
        "box5 box5 box6 box6"
        "box5 box5 box3 box4";

    height: 936px;
}
.instafeed_con #box_small {

    background-color: black;
}
.instafeed_con #box_big {
    background-color: red;
}
.box1 {
grid-area: box1;
}
.box2 {
    grid-area: box2;
}
.box3 {
grid-area: box3;

}
.box4 {
grid-area: box4;

}
.box5 {
grid-area: box5;
}
.box6 {
grid-area: box6;

}
