h1 {

font-family: bebas-neue, sans-serif;
font-weight: 400;
font-style: normal;

}
h1 {

font-family: bebas-neue, sans-serif;
font-weight: 400;
font-style: normal;

}

h3 {
    font-family: europa, sans-serif;
font-weight: 700;
font-style: normal;
}

h4 {
    font-family: europa, sans-serif;
font-weight: 700;
font-style: normal;
}

p {
font-family: droid-serif, serif;
font-weight: 400;
font-style: normal;
}
