* {
    box-sizing: border-box;
}

:root{

/*Farve palette --------------------------------------    */
/*grøn*/
--main-green-color: #30403e;
/*indsæt fx. --> var(--main-green-color)   <--  */

/* SAND   */
--main-sand-color: #c0bba0;

/* Beton Grå  */
--main-beton-color: #717270;


/* Nordisk Lys  */
--main-nordisk-color: #90c0bb;

/* Kobber Rød  */
--main-kobber_red-color: #b96b54;

/* Kobber Green  */
--main-kobber_green-color: #8ace9b;

    /* grå tekst grå  */
--main-tekst_graa-color: #707070;



/*Farve palette END --------------------------------------    */

}

body {
    margin: 0;
}

h1 {

font-family: bebas-neue, sans-serif;
font-weight: 400;
font-style: normal;

}
h1 {

font-family: bebas-neue, sans-serif;
font-weight: 400;
font-style: normal;

}

h3 {
    font-family: europa, sans-serif;
font-weight: 700;
font-style: normal;
}

h4 {
    font-family: europa, sans-serif;
font-weight: 700;
font-style: normal;
}

p {
font-family: droid-serif, serif;
font-weight: 400;
font-style: normal;
}


/*SOCIALE MEDIA-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.some_wrapper{}
.some_con{

    background-color: var(--main-nordisk-color);

    padding: 25px;
}

.some_tag{

    font-family: bebas-neue, sans-serif;
font-weight: 400;
font-style: normal;
    text-align: center;
    font-size: 2em;
}

.some_tekst{
    text-align: center;
    font-family: droid-serif, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    color: var(--main-tekst_graa-color);

}
.some_ikons_con{

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.some_ikons_con a{

    margin: 20px;
}
.some_ikons_con a img{

    opacity: .5;
}

.some_ikons_con a img:hover{

    opacity: .7;
}

/*SOCIALE MEDIA END-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
