* {
    box-sizing: border-box;
}

:root{

/*Farve palette --------------------------------------    */
/*grøn*/
--main-green-color: #30403e;
/*indsæt fx. --> var(--main-green-color)   <--  */

/* SAND   */
--main-sand-color: #c0bba0;

/* Beton Grå  */
--main-beton-color: #717270;


/* Nordisk Lys  */
--main-nordisk-color: #90c0bb;

/* Kobber Rød  */
--main-kobber_red-color: #b96b54;

/* Kobber Green  */
--main-kobber_green-color: #8ace9b;



/*Farve palette END --------------------------------------    */

}

body {
    margin: 0;
}

h1 {

font-family: bebas-neue, sans-serif;
font-weight: 400;
font-style: normal;

}
h1 {

font-family: bebas-neue, sans-serif;
font-weight: 400;
font-style: normal;

}

h3 {
    font-family: europa, sans-serif;
font-weight: 700;
font-style: normal;
}

h4 {
    font-family: europa, sans-serif;
font-weight: 700;
font-style: normal;
}

p {
font-family: droid-serif, serif;
font-weight: 400;
font-style: normal;
}
