*{

    box-sizing: border-box;
}

body{
    margin 0;
    padding: 0;
}

img{

    width: 100%;
}

.ure_filter_wrapper{
background-color: var(--main-green-color);
width: 100vw;
padding: 5px 0px;

display: grid;
grid-template-columns:1fr;
grid-template-rows: 1fr;


}

.ure_filter_container{


    justify-content: center;
    align-content: center;
    font-family: "Bebas Neue";
    text-align: center;
    letter-spacing: 1.5px;
    display: flex;
    font-size: 3.7vw;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.28);
}

.filter_knap:hover{

    color: white;
    cursor: pointer;
    text-decoration: underline;

}


/*PRODUKTS___________*/

.product_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
