
img{

    width: 100%;
}

.site_content_wrapper{

    margin: 0px;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr minmax(50px, 1200px) 1fr;
    grid-template-rows: 1fr;
}


.site_content_container{

    width: 100%;
    max-width: 1200px;
    grid-column: 2/3;
}

.single_product_wrapper{

    display: block;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}

/*SLIDER*/

.single_product_container{


background-color: rgba(128, 128, 128, 0.32);
width: 100%;

}



.mySlides {
    display: none
}

.head_con {


    font-family: europa, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    color: var(--main-tekst_graa-color);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas:

        ". t ."
        ". k ."
}


.title_con {

    grid-area: t;

}


.head_title {

    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    letter-spacing: 2px;

}

.kol_dial_con {

    grid-area: k;

    display: flex;
    text-align: center;

        font-size: 1.5em;



}

.head_kollektion {


}

.line{

    margin: 0px 10px;
    font-size: 1em;
    text-align: center;
}
.head_dial {}







.single_product_container {

    padding: 10px;

}

.image_butt_con {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 4px;

    border: solid grey 1px;

}

.image_butt_con button {

    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 0px transparent solid;

}


.demo img {

    width: 100%;
}


/*CTA*/

.single_cta_wrapper{}

.single_cta_con{

    font-family: europa, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    color: var(--main-tekst_graa-color);


}

.tag{

    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;

}

.tag_con{

    margin: 10px;
}

.single_kob{

    font-family: europa, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    background-color: var(--main-sand-color);
    width: 200px;
    height: 40px;
    border: 0px transparent solid;

    margin: 10px;
    border-radius: 5%;
    font-style: normal;
    text-align: center;
    align-self: center;
}

/*BESKRIVELSE*/

.single_beksrivelse_wrapper{ }

.single_beksrivelse_con {

    background-color: rgba(128, 128, 128, 0.26);
        color: var(--main-tekst_graa-color);

    padding: 20px;


}

.bskr_title{

    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;

}

.bskr_text p{

    font-size: .7em;
}


/*SPECS*/

.single_specs_wrapper{}

.single_specs_con{

    font-family: europa, sans-serif;
    font-weight: 100;
    font-size: .8em;

    color: var(--main-tekst_graa-color);
    background-color: rgba(128, 128, 128, 0.14);

    padding: 5px;

}


.spec_con{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin: 5px 0px;
    padding-bottom:5px;
}

.spec_tag{}

.spec{}


/*SINGLE PAGE FINDE MEREE ------------------------------------------------*/

.find_mere{

    font-family: bebas-neue, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 2em;

        color: var(--main-tekst_graa-color);




}

.tag_line{

    text-align: center;
    font-style: italic;
}

/*FILTER --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.ure_filter_wrapper{

width: 100%;
padding: 5px 0px;

display: grid;
grid-template-columns:1fr;
grid-template-rows: 1fr;

}

.ure_filter_container{


    justify-content: center;
    align-content: center;
    font-family: "Bebas Neue";
    text-align: center;
    letter-spacing: 1.5px;
    display: flex;
    font-size: 3.7vw;
    flex-direction: row;
    color: var(--main-tekst_graa-color);
}

.filter_knap:hover{

    color: black;
    cursor: pointer;
    text-decoration: underline;

}


/*FILTER END--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*PRODUCTS --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.product_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    grid-gap: 5px;
    padding: 2px;
}


.product_container{

display: grid;
grid-template-areas:
    "image"
    "text"
}

.product_container:hover{


    position: relative;
    transform: scale(1.01);
    box-shadow:0px 5px 10px rgba(128, 128, 128, 0.29);
    transition: .1s;



}

.image_con{

    grid-area: image;
    width: 100%;

}

.text_con{
width: 100%;
grid-area: text;
color: var(--main-tekst_graa-color);

font-size: .8em;
}


.name{
    margin: 5px 0px 5px 0px;
}

.prod_title{
font-family: bebas-neue, sans-serif;
font-weight: 400;
font-style: normal;

letter-spacing:1px;
text-align: center;
font-size: 1.5em;


}


.prod_kollektion{

    font-family: europa, sans-serif;
font-weight: 100;
font-style: normal;
font-size: 1.5em;

}


.spec{

        margin: 5px 0px 5px 0px;

}


.prod_dial{
         font-family: europa, sans-serif;
font-weight: 100;
font-style: normal;
}
.prod_rem{     font-family: europa, sans-serif;
font-weight: 100;
font-style: normal;}


.prod_pris{     font-family: europa, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 1.2em;
letter-spacing:1px;
}

/*PRODUCTS END --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*MEDIA*/

@media screen and (min-width: 600px){

    .single_product_wrapper{

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: 1fr;
}

  .single_cta_wrapper{

      border: solid 1px rgba(0, 0, 0, 0.07);

      display: grid;
      grid-template-columns: 1;
      grid-template-rows: 1fr 7fr 1fr;


    }

   .single_cta_con{

    grid-row: 2/3;

    font-family: europa, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    color: var(--main-tekst_graa-color);
font-size: 1.5em;


       display: flex;
       flex-direction: column;
       justify-content: space-around;
}


.beskrivelse_spec_wrappper{

    display: grid;
    grid-template-columns: 1fr 1fr;

}
.single_beksrivelse_con{

        height: 100%;
    }

    .single_specs_con{
        height: 100%;
    }

    .product_wrapper{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    text-align: center;

    grid-gap: 5px;
    padding: 10px 200px;

    margin-bottom: 100px;
}

}



@media screen and (min-width: 1000px){

    .single_product_wrapper{

    grid-template-columns: 1.5fr 2fr;
    grid-auto-rows: 1fr;
}


}
